<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>ACL Timeline Retrieval</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'css/nouislider.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{% static 'js/materialize.min.js' %}"></script>
        <script src="{% static 'js/nouislider.js' %}"></script>
        <script src="{% static 'js/nouislider.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript">
            function print_to() {
    console.log(document.getElementById('f_upload').files);
}
        </script>
    </head>
    <body style="overflow:hidden">
        <nav class="red lighten-2" role="navigation">
            <div class="nav-wrapper container">
                <span id="logo-container" class="brand-logo">ACL Timeline Retrieval</span>
            </div>
        </nav>

        <div id="all" class="row">
            <div id="search" class="container col s12 m4 l3 grey lighten-1" style="height:630px" action="#">
                <div id="year-range" class="container center" style="padding:50px 0px"></div>
                <div class="file-field input-field center" style="padding:20px">
                    <div class="btn">
                        <span>File</span>
                        <input id="f_upload" type="file" onchange="print_to();">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path-validate" type="text">
                    </div>
                </div>
                <button id="b_search" class="btn waves-effect waves-light center" style="margin:20px; float:right">Search
                    <i class="material-icons left">search</i>
                </button>
            </div>

            <div id="result" class="container row col s12 m8 l9 teal lighten-2" style="height:630px; overflow-y:scroll">
            </div>
        </div>

        <div id="modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <p>Doc Content</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
            </div>
        </div>

        <!-- <footer class="page-footer grey">
            <div class="footer-copyright">
                <div class="container">Made by Team 8</div>
            </div>
        </footer> -->
    </body>
</html>
