<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>ACL Timeline Retrieval</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="http://materializecss.com/extras/noUiSlider/nouislider.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'css/cluster.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>


        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        
        <script src="{% static 'js/materialize.min.js' %}"></script>
        <script src="http://materializecss.com/extras/noUiSlider/nouislider.js"></script>
        <script src="http://d3js.org/d3.v2.js"></script>
    </head>
    <body>
        <div id="progress_bar" class="progress no-margin purple lighten-4">
            <div class="indeterminate purple"></div>
        </div>
        <nav class="purple lighten-2" role="navigation">
            <div class="nav-wrapper container">
                <a id="back" href="" >Back<i class="material-icons left">skip_previous</i></a>
                <span id="logo-container" class="brand-logo center">ACL Timeline Retrieval</span>
            
            </div>
        </nav>

        <div id="first" class="container row">
            <div class="col s12 left-align">
                <div class="file-field input-field center " style="padding:20px">
                    <div class="btn purple lighten-2">
                        <span>File</span>
                        <input id="f_upload" type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div><br>

                <!-- <p class="flow-text">Select the Year Range:</p> -->
                <div id="year_range" class="slider col s12 "></div><br><br>

                <div class="row">
                    <div class="input-field col s4 offset-s2">
                        <i class="material-icons purple-text text-lighten-2 prefix">today</i>
                        <input placeholder="2004" id="start_year" type="text" class="validate" value="2004">
                        <label for="start_year">Start Year</label>
                    </div>
                    <div class="input-field col s4 ">
                        <i class="material-icons purple-text text-lighten-2 prefix">today</i>
                        <input placeholder="2010" id="end_year" type="text" class="validate"  value="2010">
                        <label for="end_year">End Year</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4 offset-s2">
                        <select id="type_first">
                            <option value="basic">Basic</option>
                            <option value="cluster">Cluster</option>
                        </select>
                        <label>Result Type</label>
                    </div>
                    <div class="input-field col s4">
                        <select id="algo_first">
                            <option value="random">Random Walk</option>
                            <option value="div">Div Rank</option>
                        </select>
                        <label>Search Algo</label>
                    </div>
                </div>
            </div>

            <div class="center"><button id="b_search" class="btn waves-effect waves-light center search purple lighten-2" style="margin:20px">Search
                <i class="material-icons left">search</i>
            </button></div>
        </div>

        <div id="second">
            <br>
            <div id="search_options" class="container">
                <div class="row">
                    <div class="input-field col s4">
                        <input id="f_upload_second" type="text" class="validate">
                        <label for="f_upload_second"></label>
                    </div>
                    <div class="input-field col s4">
                        <i class="material-icons purple-text text-lighten-2 prefix">today</i>
                        <input placeholder="2004" id="start_year_second" type="text" class="validate">
                        <label for="start_year">Start Year</label>
                    </div>
                    <div class="input-field col s4">
                        <i class="material-icons purple-text text-lighten-2 prefix">today</i>
                        <input placeholder="2010" id="end_year_second" type="text" class="validate">
                        <label for="end_year">End Year</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4 ">
                        <select id="type_second">
                            <option value="basic">Basic</option>
                            <option value="cluster">Cluster</option>
                        </select>
                        <label>Result Type</label>
                    </div>
                    <div class="input-field col s4">
                        <select id="algo_second">
                            <option value="random">Random Walk</option>
                            <option value="div">Div Rank</option>
                        </select>
                        <label>Search Algo</label>
                    </div>
                    <div class="input-field col s4 ">
                        <button id="b_search_second" class="btn waves-effect waves-light center-btn">Search
                            <i class="material-icons left">search</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <p id="query" class="col s12 flow-text center-align"></p>              
            </div>
            <div id="result" class="container row">
                
            </div>
            <div id="result2" class="container ">
                
            </div>
        </div>

        <div id="modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <p style="white-space: pre-line">Doc Content</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <script src="{% static 'js/script.js' %}"></script>

        <script src="{% static 'js/cluster_script.js' %}" charset="utf-8"></script>

    </body>
</html>
